<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>221516669388-9isp5uqjh2e67gvjeajec95ucccrclv0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.221516669388-9isp5uqjh2e67gvjeajec95ucccrclv0</string>
	<key>API_KEY</key>
	<string>AIzaSyDupVQQNe9kXZ3zh3pXiitT3PYowqC0__A</string>
	<key>GCM_SENDER_ID</key>
	<string>221516669388</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Zaichen.FocusTree-Renew</string>
	<key>PROJECT_ID</key>
	<string>focustree-renew</string>
	<key>STORAGE_BUCKET</key>
	<string>focustree-renew.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:221516669388:ios:2b1a8428a70b23df66fd69</string>
	<key>DATABASE_URL</key>
	<string>https://focustree-renew.firebaseio.com</string>
</dict>
</plist>